  <head>
    <title> Error! // Powered by Isnigma</title>
    <meta name="description" content="Plexi Bot Website // Powered by Isnigma">
          <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="Search for a bot in Plexidev.org's database!">
    <meta name="theme-color" content="#365EAD">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="icon" href="https://cdn.glitch.com/19a1f96c-04a1-4472-8169-e2bfa25d7334%2Fisnigma_bot.jpg?1530503505368">
  </head>
<body>
  <center>
  <h1>
    Oops, sorry!
  </h1>
    <hr>
<span class="label label-danger"><%=error %></span>
<hr>
    <div class="container">
 
<div class="list-group">
    <a href="#" class="list-group-item">
      <h4 class="list-group-item-heading">You did not put in the correct ID </h4>
      <p class="list-group-item-text">Look over the ID entered. Make sure it is correct.</p>
    </a>
    <a href="#" class="list-group-item">
      <h4 class="list-group-item-heading">Internal Error</h4>
      <p class="list-group-item-text">Something went wrong internally.</p>
    </a>
    <a href="#" class="list-group-item">
      <h4 class="list-group-item-heading">Info does not exist for this bot</h4>
      <p class="list-group-item-text">Some bots may not be in the database. We do not know why.</p>
    </a>
  </div>
</div>
    </div>
  </center>
</body>