<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Plexi Bot Website // Powered by Isnigma</title>
    <meta name="description" content="Plexi Bot Website // Powered by Isnigma">
          <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="Search for a bot in Plexidev.org's database!">
    <meta name="theme-color" content="#365EAD">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="icon" href="https://cdn.glitch.com/19a1f96c-04a1-4472-8169-e2bfa25d7334%2Fisnigma_bot.jpg?1530503505368">
  </head>
  <body>
    <center>
      
<div class="alert alert-danger" role="alert">
  <b> 11:33 PM PST - 5/14/2019 -</b> Plexi bot website is now DEFUNCT and it's SOURCE CODE has been released. Source Code: https://glitch.com/~plexiapisite
</div>
        
      
      <form action="/lookup" method="GET">
        <div class="container">
   <div class="form-group">
      <label class="control-label col-sm-2" for="email">Bot ID:</label>
      <div class="col-sm-10">
       <input type="text" class="form-control" id="pwd" placeholder="Enter Bot ID" name="id" disabled="true">
    </div>
    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
      </div>
    </div>
    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default" disabled="true">Search</button>
      </div>
    </div>
          </div>
      </center>
  </body>
      <center>
       <h10>Isnigma Webworks 2018</h10>
      </center>
        
  </html>
